<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Tela de Login</h1>
    <div>
        {%with mensagens = get_flashed_messages()%}
            {%for mensagem in mensagens%}
        <h3>
            {{Mensagem}}
        </h3>
            {%endfor%}
        {%endwith%}
        <form action="/login" method="post">
            <p>
                Usuário
            </p>
            <input id="usuario" name="usuario" type="text">
            <p>
                Senha:
            </p>
            <input id="senha" name="senha" type="password">
            </br>
            <button type="submit">ENTRAR</button>
        </form>

    </div>
</body>
</html>